{
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^@nestjs/(.*)$",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^(.*)guard$",
    "",
    "^(.*)middleware$",
    "",
    "^(.*)service$",
    "",
    "^(.*)module$",
    "",
    "^(.*)entity$",
    "",
    "^(.*)interface$",
    "",
    "^(.*)dto$",
    "",
    "^(.*)exception$",
    "",
    "^(.*)constant$",
    "",
    "^(.*)filter$",
    "",
    "^(.*)decorator$",
    "",
    "^(.*)controller$",
    "",
    "^src/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0"
}
